$white: #ffffff !default;
$default: #504E5D !default;
$black: #000000 !default;
$dark: #141414 !default;

$pink-1: #EE1F56 !default;
$pink-2: #EE1F4F !default;
$pink-3: #E1003E !default;
$pink-4: #FF587F !default;
$pink-5: #E60C35 !default;
$pink-6: #F4A28C !default;
$pink-7: #CE8172 !default;
$pink-8: #E00045 !default;
$pink-9: #EE1D55 !default;
$pink-10: #D20030 !default;
$pink-11: #e0013e !default;

$purple-1: #56006C !default;
$purple-2: #6F057E !default;
$purple-3: #6D007D !default;
$purple-4: #9D3BA1 !default;
$purple-5: #D579E2 !default;
$purple-6: #3B35635C !default;
$purple-7: #3B3563 !default;
$purple-8: #302D43 !default;
$purple-9: #41005A !default;

$grey-1: #00000029 !default;
$grey-2: #2E2E2E !default;
$grey-3: #5E5E5E !default;
$grey-4: #0000000F !default;
$grey-5: #504E5D !default;
$grey-6: #0000001A !default;
$grey-7: #8F8B8B !default;
$grey-8: #E6E6E6 !default;
$grey-9: #878787 !default;
$grey-10: #C9C9C9 !default;
$grey-11: #F2F2F2 !default;
$grey-12: #3B356329 !default;
$grey-13: #707070 !default;
$grey-14: #00000015 !default;
$grey-15: #F5F5F5 !default;
$grey-16: #f1f1f1 !default;
$grey-17: #A2A2A2 !default;

$yellow-1: #FFB300 !default;
$yellow-2: #FFD200 !default;
$yellow-3: #FFFF00 !default;
$yellow-4: #FDEC07 !default;

$blue-1: #1D1B45 !default;
$blue-2: #060640 !default;
$blue-3: #24285B !default;
$blue-4: #1465ff !default;

