* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 17px;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

body.overflow-hidden {
  overflow: hidden;
}

a,
span {
  display: inline-block;
  text-decoration: none;
}

.text-pink {
  color: #EE1F4F;
  position: relative;
}

.arrow {
  position: absolute;
  right: 50px;
  bottom: -50px;
}

.section-pic {
  margin-bottom: 45px;
}

.section-heading {
  color: #000000;
}

.section-heading .section-sub-heading {
  font-size: 20px;
  color: #6D007D;
}

.section-heading .section-main-heading {
  font-size: 56px;
  font-weight: bold;
  line-height: 72px;
  margin-top: 24px;
  margin-bottom: 60px;
}

.section-heading .section-main-heading .filled {
  color: #ffffff;
  background-color: #EE1F4F;
  padding: 0px 8px;
  border-radius: 10px;
  line-height: 70px;
  position: relative;
}

.section-heading .section-main-heading .filled.wing:before {
  content: '';
  position: absolute;
  right: -40px;
  top: -24px;
  width: 30px;
  height: 25px;
}

.section-heading .section-main-heading .filled.wing.pink:before {
  background: url(../../images/bars-filled.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-heading .section-main-heading .filled.wing.white {
  background: url(../../images/bars-filled.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-heading .section-description {
  font-size: 21px;
  line-height: 36px;
  color: #5E5E5E;
}

.semi-circle {
  background: url(../../images/semi-circle.svg);
  background-position: left center;
  background-repeat: no-repeat;
  padding-top: 26px;
}

.break {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section {
  overflow: hidden;
  width: 100%;
}

.custom_container {
  max-width: 1250px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .custom_container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.common_btn {
  border: 0;
  background: #ee1f4f;
  color: #444444;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 7px 14px 7px 7px;
  border-radius: 60px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 767px) {
  .common_btn {
    padding: 5px 14px 5px 5px;
  }
}

.common_btn:hover span {
  background: #fce900;
}

.common_btn:hover .yellow_bg {
  background: #ffffff;
}

.common_btn span {
  background: #fff;
  font-size: 12px;
  padding: 12px 20px;
  display: inline-block;
  border-radius: 60px;
  margin-right: 15px;
  vertical-align: middle;
  letter-spacing: 0;
  font-weight: 700;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 5px 0px 0 #00000066;
          box-shadow: 5px 0px 0 #00000066;
}

@media screen and (max-width: 767px) {
  .common_btn span {
    font-size: 10px;
    padding: 8px 12px;
  }
}

.common_btn .yellow_bg {
  background: #fce900;
}

.common_btn img {
  display: inline-block;
  vertical-align: middle;
  -o-object-fit: contain;
     object-fit: contain;
  width: 20px;
  height: 20px;
}

.small_btn span {
  padding: 8px 15px;
  letter-spacing: 0.5px;
}

.big_img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

footer {
  background: #fff;
}

.belowtext_img {
  width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 10px;
}

.box_text {
  background-color: #ee1f4f;
  color: #fdec07;
  border-radius: 12px;
  padding: 8px;
  line-height: 35px;
  display: inline-block;
  letter-spacing: 1.53px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  display: inline-block;
  height: 38px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button.sm {
  min-width: 85px;
}

.button.outlined {
  background-color: transparent;
  border: 1px solid;
}

.button.outlined.white {
  border-color: #ffffff;
}

.button.outlined.white:hover {
  background-color: #ffffff;
  color: #504E5D;
}

.button.filled {
  height: 60px;
  width: 170px;
  background-color: #EE1F4F;
  border: 1px solid #ffffff;
  border-radius: 18px;
  color: #ffffff;
}

.button.filled a {
  text-decoration: none;
}

.button.filled.card {
  position: absolute;
  left: 33px;
  bottom: 40px;
}

.more-btn {
  border: none;
  background-color: #E60C35;
  color: #ffffff;
  font-size: 17px;
  line-height: 23px;
  font-weight: 500;
  padding: 11px 17px 13px 70px;
  position: relative;
  border-radius: 60px 0 54px 60px;
}

.more-btn .icon {
  width: 58px;
  height: 58px;
  display: inline-block;
  background: #FDEC07 url(../../images/icons/arrow-right-red.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid #ffffff;
  border-radius: 58px;
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.login-btn {
  height: 39px;
  padding: 10px 17px 8px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: transparent;
  color: #ffffff;
  margin: 0 32px 0 25px;
}

.login-btn svg {
  color: #ffffff;
}

@media only screen and (max-width: 1024px) {
  .login-btn svg {
    width: 14px;
    height: 14px;
  }
}

@media only screen and (max-width: 1440px) {
  .login-btn {
    margin: 0 20px 0 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .login-btn {
    font-size: 14px;
  }
}

.login-btn:hover {
  color: #ffffff;
  background-color: #EE1F56;
  border-color: #EE1F56;
}

@media only screen and (max-width: 1024px) {
  .login-btn:hover {
    color: #FDEC07;
    background-color: transparent;
    border: none;
  }
  .login-btn:hover svg {
    color: #FDEC07;
  }
}
/*# sourceMappingURL=global.css.map */