.common_home_btn {
  background: #EE1F4F;
  border-radius: 15px;
  padding: 14px 55px 14px 20px;
  border: 0;
  font-size: 14px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #ffffff;
  position: relative;
}

@media screen and (max-width: 767px) {
  .common_home_btn {
    padding: 10px 55px 10px 15px;
    font-size: 12px;
    border-radius: 10px;
  }
}

.common_home_btn:hover {
  background: #6c297b;
}

.common_home_btn:hover img {
  right: 10px;
}

.common_home_btn img {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.small_btn {
  padding: 14px 20px;
}

@media screen and (max-width: 767px) {
  .small_btn {
    padding: 10px 15px;
  }
}

.topbanner_wrap_home {
  background-image: url("../../images/pr-assets/Layer1.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding: 200px 0 160px;
  overflow: visible;
  z-index: 0;
}

.topbanner_wrap_home label {
  color: #ffffff;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin: 0 0 10px 0;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .topbanner_wrap_home label {
    font-size: 16px;
  }
}

.topbanner_wrap_home .banner_img {
  width: 100%;
  max-width: 570px;
  -o-object-fit: contain;
     object-fit: contain;
}

.topbanner_wrap_home .content_box {
  width: 560px;
  margin-left: auto;
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .topbanner_wrap_home .content_box {
    margin-top: 30px;
  }
}

.topbanner_wrap_home h1 {
  font-size: 50px;
  color: #fff;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.topbanner_wrap_home h1 span {
  color: #fdec07;
  display: block;
}

.topbanner_wrap_home p {
  font-size: 18px;
  color: #fff;
  opacity: 0.8;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  margin: 25px 0 35px;
}

@media screen and (max-width: 767px) {
  .topbanner_wrap_home p {
    margin: 15px 0;
  }
}

#waves {
  position: absolute;
  bottom: -100px !important;
  left: 0;
  width: 100%;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  #waves {
    bottom: 0 !important;
    height: 463px !important;
    width: 100% !important;
  }
}

.whitesection_wrap {
  padding: 80px 0 30px;
  margin: 100px 0 0;
  position: relative;
}

@media screen and (max-width: 767px) {
  .whitesection_wrap {
    padding: 30px 0;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .whitesection_wrap .big_img {
    margin: 40px 0 0;
  }
}

.whitesection_wrap label {
  color: #6D007D;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin: 0 0 15px 0;
  font-weight: 600;
  letter-spacing: 1.28px;
}

@media screen and (max-width: 767px) {
  .whitesection_wrap label {
    font-size: 14px;
  }
}

.whitesection_wrap h1 {
  font-size: 45px;
  color: #2e2e2e;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  max-width: 500px;
  margin: 0;
}

.whitesection_wrap h1 span {
  color: #e1003e;
}

.whitesection_wrap h1 span .belowtext_img {
  display: block;
}

.whitesection_wrap h1 .purple_text {
  color: #56006C;
}

.whitesection_wrap h1 .box_text {
  color: #fff;
  padding: 12px 8px;
  position: relative;
}

.whitesection_wrap h1 .box_text::after {
  content: '';
  position: absolute;
  right: -25px;
  top: -20px;
  width: 30px;
  height: 30px;
  background-image: url("../../images/lines-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media screen and (max-width: 767px) {
  .whitesection_wrap h1 .box_text::after {
    right: -20px;
  }
}

.whitesection_wrap p {
  font-size: 16px;
  color: #5e5e5e;
  font-family: "Poppins", sans-serif;
  margin: 40px 0 50px;
  max-width: 500px;
  font-weight: 500;
  line-height: 1.7;
}

@media screen and (max-width: 767px) {
  .whitesection_wrap p {
    margin: 20px 0;
  }
}

.whitesection_wrap .topright_dots {
  position: absolute;
  top: 0%;
  right: 8%;
  width: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 767px) {
  .whitesection_wrap .topright_dots {
    display: none;
  }
}

.whitesection_wrap .topleft_dots {
  position: absolute;
  top: 5%;
  left: 3%;
  width: 90px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 767px) {
  .whitesection_wrap .topleft_dots {
    display: none;
  }
}

.whitesection_wrap .mw_90 {
  max-width: 90%;
}

@media screen and (max-width: 767px) {
  .whitesection_wrap.business_wrap h1 span .belowtext_img {
    width: 100px;
    margin-top: 0;
  }
}

.halfcricle_wrap {
  position: relative;
}

.halfcricle_wrap::before {
  content: "";
  position: absolute;
  top: 20%;
  left: -70px;
  height: 100%;
  width: 100%;
  background-image: url("../../images/half-circle.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 300px;
  z-index: -9;
}

@media screen and (max-width: 767px) {
  .whitesection_wrap.halfcricle_wrap::before {
    top: 15%;
    left: -70px;
    height: 300px;
    width: 300px;
    background-size: contain;
  }
}

@media screen and (max-width: 767px) {
  .whitesection_wrap.tagetaudience_wrap {
    padding-top: 40px !important;
  }
}

@media screen and (max-width: 767px) {
  .whitesection_wrap.tagetaudience_wrap .mob_reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.whitesection_wrap.tagetaudience_wrap h1 .box_text {
  margin: 10px 0;
}

.whitesection_wrap.tagetaudience_wrap .belowtext_img {
  width: 100%;
  max-width: 300px;
}

@media screen and (max-width: 767px) {
  .whitesection_wrap.tagetaudience_wrap .belowtext_img {
    max-width: 200px;
    margin-bottom: 20px;
  }
}

.whitesection_wrap.tagetaudience_wrap .big_img {
  max-width: 400px;
}

.blocks_wrapper {
  margin-top: 50px;
}

@media screen and (max-width: 992px) {
  .blocks_wrapper .col-md-4 {
    width: 50%;
    padding: 15px;
  }
}

@media screen and (max-width: 767px) {
  .blocks_wrapper .col-md-4 {
    width: 100%;
  }
}

.blocks_wrapper .box_wrap {
  -webkit-box-shadow: 0px 2px 6px #00000024;
          box-shadow: 0px 2px 6px #00000024;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 24px;
  padding: 20px 20px 80px 20px;
  background-color: #ffffff;
  height: 100%;
  position: relative;
}

@media screen and (max-width: 767px) {
  .blocks_wrapper .box_wrap {
    padding: 20px;
  }
}

.blocks_wrapper .box_wrap:hover {
  -webkit-box-shadow: 0px 20px 36px #0000001A;
          box-shadow: 0px 20px 36px #0000001A;
}

.blocks_wrapper .box_wrap .common_home_btn {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

@media screen and (max-width: 767px) {
  .blocks_wrapper .box_wrap .common_home_btn {
    position: unset;
    left: unset;
    bottom: unset;
  }
}

.blocks_wrapper .box_wrap img {
  width: 70px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 767px) {
  .blocks_wrapper .box_wrap img {
    width: 50px;
    height: 50px;
  }
}

.blocks_wrapper .box_wrap h2 {
  color: #060640;
  font-size: 26px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin: 20px 0;
}

@media screen and (max-width: 767px) {
  .blocks_wrapper .box_wrap h2 {
    font-size: 22px;
    margin: 10px 0;
  }
}

.blocks_wrapper .box_wrap p {
  color: #504E5D;
  font-size: 16px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  margin: 0 0 30px;
}

@media screen and (max-width: 767px) {
  .blocks_wrapper .box_wrap p {
    margin: 0 0 20px;
  }
}

.doc_wrapper {
  background-image: url("../../images/home-assets/bg-1.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  margin-top: 100px;
  position: relative;
  overflow: visible;
}

@media screen and (max-width: 767px) {
  .doc_wrapper {
    margin: 0px 0 50px 0;
    padding-top: 100px;
    background-position: top center;
  }
}

.doc_wrapper::before {
  content: '';
  width: 33%;
  height: 100%;
  background-image: url("../../images/home-assets/graphics2.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
}

@media screen and (max-width: 1200px) {
  .doc_wrapper::before {
    display: none;
  }
}

.doc_wrapper::after {
  content: '';
  width: 33%;
  height: 100%;
  background-image: url("../../images/home-assets/graphics3.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (max-width: 767px) {
  .doc_wrapper::after {
    width: 100%;
    height: 400px;
    background-position: top right;
    background-size: contain;
    bottom: 0;
    top: unset;
  }
}

.doc_wrapper .center_content {
  max-width: 500px;
  margin: 0px auto 0;
  position: relative;
  height: 600px;
}

@media screen and (max-width: 1200px) {
  .doc_wrapper .center_content {
    margin: 0;
  }
}

.doc_wrapper .center_content h1 {
  color: #56006C;
  font-size: 55px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.doc_wrapper .center_content h1 span {
  color: #E1003E;
}

.doc_wrapper .center_content h2 {
  color: #56006C;
  font-size: 30px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .doc_wrapper .center_content h2 {
    font-size: 18px;
  }
}

.doc_wrapper .center_content h2 span {
  color: #E1003E;
}

.doc_wrapper .center_content .img_text {
  position: relative;
  width: 530px;
  margin: 0;
  text-align: center;
  background-color: #EE1F4F;
  border-radius: 10px;
  height: 70px;
  padding: 10px 15px;
}

@media screen and (max-width: 767px) {
  .doc_wrapper .center_content .img_text {
    width: 90%;
    height: 45px;
  }
}

.doc_wrapper .center_content .img_text::after {
  content: '';
  position: absolute;
  right: -25px;
  top: -20px;
  width: 30px;
  height: 30px;
  background-image: url("../../images/lines-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media screen and (max-width: 767px) {
  .doc_wrapper .center_content .img_text::after {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
    right: -35px;
  }
}

.doc_wrapper .center_content .img_text img {
  max-width: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 767px) {
  .doc_wrapper .center_content .img_text img {
    width: 100%;
  }
}

.doc_wrapper .center_content .belowtext_img {
  width: 100%;
  max-width: 430px;
  display: block;
}

@media screen and (max-width: 767px) {
  .doc_wrapper .center_content .belowtext_img {
    width: 70%;
  }
}

.doc_wrapper .center_content .bottom_img {
  width: 100%;
  max-width: 350px;
  display: block;
  margin: 30px auto 0;
  position: absolute;
  left: 45%;
  bottom: -100px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .doc_wrapper .center_content .bottom_img {
    width: 200px;
    position: unset;
  }
}

.whitesection_wrap.bg_wrap {
  background-image: url("../../images/home-assets/bg-2.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 150px 0 30px;
}

.whitesection_wrap.bg_wrap.halfcricle_wrap::before {
  top: 40%;
}

.cta_wrapper_img .big_img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.cta_wrapper {
  background-image: url("../../images/home-assets/bg-3.png");
  background-repeat: no-repeat;
  background-position: center left;
  background-color: #6e0d88;
  background-size: cover;
  height: 300px;
  position: relative;
  margin-top: -2px;
}

@media screen and (max-width: 1024px) {
  .cta_wrapper {
    background-size: cover;
  }
}

@media screen and (max-width: 767px) {
  .cta_wrapper {
    padding: 50px 0;
    height: auto;
  }
}

.cta_wrapper .big_img {
  max-width: 170px;
}

@media screen and (max-width: 767px) {
  .cta_wrapper .big_img {
    width: 140px;
    margin: 0 auto;
    display: block;
  }
}

.cta_wrapper h1 {
  font-size: 40px;
  letter-spacing: -1.02px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.cta_wrapper h1 span {
  color: #e1003e;
}

.cta_wrapper h2 {
  font-size: 40px;
  color: #fdec07;
  letter-spacing: -1.02px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin: 5px 0 0 0;
}

@media screen and (max-width: 767px) {
  .cta_wrapper h2 {
    margin: 0 0 30px;
  }
}

.cta_wrapper .text_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1024px) {
  .cta_wrapper .text_box {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    max-width: 100%;
  }
  .cta_wrapper .text_box .common_btn {
    width: 220px;
  }
}

@media screen and (max-width: 1024px) and (max-width: 767px) {
  .cta_wrapper .text_box .common_btn {
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .cta_wrapper .text_box {
    display: block;
  }
}

.cta_wrapper .yellow_btn {
  background-color: #FDEC07;
  color: #E1003E;
  width: 420px;
  max-width: 100%;
  position: relative;
}

@media screen and (max-width: 767px) {
  .cta_wrapper .yellow_btn {
    width: auto;
    margin-top: 20px;
  }
}

.cta_wrapper .yellow_btn::after {
  content: '';
  position: absolute;
  right: -25px;
  top: -20px;
  width: 30px;
  height: 30px;
  background-image: url("../../images/lines-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media screen and (max-width: 767px) {
  .cta_wrapper .yellow_btn::after {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
    right: -35px;
  }
}

.cta_wrapper .purple_btn {
  background-color: #56006C;
  color: #ffffff;
  width: 330px;
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .cta_wrapper.noimg_cta {
    padding: 30px 0;
    text-align: center;
  }
}

.cta_wrapper.noimg_cta h1 {
  max-width: 580px;
}

@media screen and (max-width: 767px) {
  .cta_wrapper.noimg_cta h1 {
    margin-bottom: 20px;
  }
}

.yellowbg_wrap {
  background-color: #FFFF00;
  background-image: url("../../images/home-assets/abstract-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0;
  height: 200px;
  overflow: visible;
}

@media screen and (max-width: 767px) {
  .yellowbg_wrap {
    height: auto;
    padding-top: 50px;
  }
}

.yellowbg_wrap .big_img {
  position: absolute;
  bottom: -2px;
  height: 230px;
  max-width: 170px;
}

@media screen and (max-width: 767px) {
  .yellowbg_wrap .big_img {
    position: relative;
    height: 190px;
    margin: -40px 0 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .yellowbg_wrap .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.yellowbg_wrap .col-md-2 {
  height: 200px;
}

@media screen and (max-width: 767px) {
  .yellowbg_wrap .col-md-2 {
    height: auto;
  }
}

.yellowbg_wrap h1 {
  color: #141414;
}

@media screen and (max-width: 767px) {
  .yellowbg_wrap button.purple_btn {
    width: auto;
    margin-top: 15px;
  }
}

.strategy_wrap {
  padding: 100px 0;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .strategy_wrap {
    padding-bottom: 240px;
  }
}

@media screen and (max-width: 767px) {
  .strategy_wrap {
    padding: 60px 0 440px;
  }
}

@media screen and (max-width: 1024px) {
  .strategy_wrap .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    max-width: 100%;
  }
}

.strategy_wrap label {
  color: #6D007D;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin: 0 0 10px 0;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .strategy_wrap label {
    font-size: 14px;
  }
}

.strategy_wrap .big_graphicimg {
  background-image: url("../../images/home-assets/graphics10.png");
  background-repeat: no-repeat;
  background-position: 20px 100%;
  background-size: 800px;
  padding-bottom: 40px;
  position: absolute;
  right: 0px;
  bottom: 0;
  width: 50%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .strategy_wrap .big_graphicimg {
    background-size: 100%;
  }
}

@media screen and (max-width: 767px) {
  .strategy_wrap .big_graphicimg {
    background-size: 450px;
    width: 100%;
    background-position: center bottom;
  }
}

.strategy_wrap .btn_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.strategy_wrap .btn_wrap button {
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .strategy_wrap .btn_wrap button {
    margin: 10px 0 0 0;
  }
}

.strategy_wrap .box_text {
  border-radius: 15px;
  line-height: 40px;
}

@media screen and (max-width: 1024px) {
  .strategy_wrap .box_text {
    font-size: 29px;
  }
}

@media screen and (max-width: 767px) {
  .strategy_wrap .box_text {
    font-size: 28px;
  }
}

.strategy_wrap .big_img {
  width: 600px;
}

.strategy_wrap h1 {
  font-size: 45px;
  color: #2e2e2e;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.strategy_wrap h1 .box_text {
  color: #ffffff;
  position: relative;
  display: inline-block;
}

.strategy_wrap h1 .box_text::after {
  content: '';
  position: absolute;
  right: -25px;
  top: -20px;
  width: 30px;
  height: 30px;
  background-image: url("../../images/lines-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media screen and (max-width: 767px) {
  .strategy_wrap h1 .box_text::after {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
    right: -35px;
  }
}

.strategy_wrap h1 span {
  color: #e1003e;
  display: initial;
}

.strategy_wrap .belowtext_img {
  margin: 0 100px 0;
  display: block;
  width: 250px;
}

@media screen and (max-width: 910px) {
  .strategy_wrap .belowtext_img {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .strategy_wrap .belowtext_img {
    width: 120px;
    margin: 0;
  }
}

.strategy_wrap h2 {
  width: 100%;
  font-size: 45px;
  color: #2e2e2e;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin: 5px 0 0 0;
}

.strategy_wrap h2 span {
  color: #e1003e;
}

.strategy_wrap p {
  color: #5e5e5e;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  margin: 25px 0;
  font-weight: 500;
  line-height: 1.7;
  max-width: 520px;
}

.strategy_wrap ul {
  list-style: none;
  padding: 0;
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .strategy_wrap ul {
    margin-bottom: 0;
  }
}

.strategy_wrap ul li {
  width: 49%;
  padding: 0 10px;
}

@media screen and (max-width: 767px) {
  .strategy_wrap ul li {
    width: 100%;
  }
}

.strategy_wrap ul li .box_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 0 30px;
}

.strategy_wrap ul li .box_wrapper img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 15px;
}

@media screen and (max-width: 767px) {
  .strategy_wrap ul li .box_wrapper img {
    width: 30px;
    height: 30px;
  }
}

.strategy_wrap ul li .box_wrapper .right_content h3 {
  width: 100%;
  font-size: 20px;
  line-height: 1;
  color: #2e2e2e;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin: 0 0 8px 0;
}

@media screen and (max-width: 767px) {
  .strategy_wrap ul li .box_wrapper .right_content h3 br {
    display: none;
  }
}

.strategy_wrap ul li .box_wrapper .right_content p {
  color: #5e5e5e;
  font-size: 13px;
  line-height: 1.3;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 300;
}

.strategy_wrap .common_btn {
  margin: 20px auto 0;
  display: block;
}

.strategy_wrap .btn_text {
  background-color: transparent;
  color: #000;
  font-weight: 600;
}

.strategy_wrap .btn_text:hover {
  background-color: transparent;
  color: #6c297b;
}

.explore_wrap {
  padding-bottom: 0;
}

@media screen and (max-width: 767px) {
  .explore_wrap {
    padding-bottom: 40px;
  }
}

.explore_wrap .btn_text {
  padding-left: 10px;
}

.explore_wrap .topleft_dots {
  position: absolute;
  top: 40%;
  left: 5%;
  width: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: rotate(190deg);
          transform: rotate(190deg);
}

@media screen and (max-width: 767px) {
  .explore_wrap .topleft_dots {
    display: none;
  }
}

.explore_wrap h1 span {
  display: inline-block;
}

.explore_wrap h1 span .belowtext_img {
  margin: 0;
  width: 150px;
}

@media screen and (max-width: 767px) {
  .explore_wrap h1 span .belowtext_img {
    width: 110px;
  }
}

@media screen and (max-width: 767px) {
  .explore_wrap ul li .box_wrapper img {
    width: 25px;
    height: 25px;
  }
}

.explore_wrap ul li .box_wrapper .right_content h3 {
  line-height: 1.3;
}

@media screen and (max-width: 767px) {
  .explore_wrap ul li .box_wrapper .right_content h3 {
    font-size: 16px;
  }
}

.explore_wrap .big_img {
  max-width: 440px;
}

@media screen and (max-width: 767px) {
  .explore_wrap .big_img {
    max-width: 100%;
    margin: 40px 0;
  }
}

.strategy_wrap.halfcricle_wrap:before {
  position: absolute;
  top: -100px;
  right: 0;
  left: auto;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-position: -100px;
  background-size: 300px;
}

@media screen and (max-width: 767px) {
  .strategy_wrap.halfcricle_wrap:before {
    background-position: -50px;
    background-size: 200px;
  }
}

.process_wrap {
  background-image: url("../../images/home-assets/Layer1.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 60px 0;
}

@media screen and (max-width: 767px) {
  .process_wrap {
    padding: 40px 0;
  }
}

.process_wrap h1 {
  font-size: 45px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 0 0 30px;
}

@media screen and (max-width: 767px) {
  .process_wrap h1 {
    margin: 0 0 20px;
  }
}

.process_wrap h1 span {
  color: #ffffff;
}

.process_wrap h1 span .belowtext_img {
  display: block;
}

.process_wrap h1 .box_text {
  color: #fff;
  padding: 12px 8px;
  position: relative;
}

.process_wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .process_wrap ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px;
  }
}

.process_wrap ul li {
  width: 20%;
  z-index: 9;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .process_wrap ul li {
    width: 50%;
    margin-bottom: 40px;
  }
}

.process_wrap ul li p {
  color: #fff;
  text-align: left;
  font-size: 22px;
  font-weight: 500;
  margin-left: 15%;
  margin-bottom: 30px;
}

.process_wrap ul li img {
  width: 250px;
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .process_wrap ul li img {
    max-width: 90%;
  }
}

.process_wrap ul .rocket_img {
  position: absolute;
  width: 100%;
  z-index: 0;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
  .process_wrap ul .rocket_img {
    width: 800px;
    right: -40px;
    left: unset;
    top: 44%;
    margin: 0;
  }
}

.process_wrap ul .rocket_img img {
  width: 100%;
}

.white_section {
  margin: 100px 0 50px;
  padding-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .white_section {
    margin: 50px 0 0;
  }
}

.white_section label {
  color: #6d007d;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  margin: 0 0 15px;
  font-weight: 600;
  letter-spacing: 1.28px;
}

.white_section h1 {
  font-size: 45px;
  letter-spacing: 1.68px;
  color: #2e2e2e;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.white_section h1 span {
  color: #e1003e;
}

.white_section h1 .box_text {
  color: #fff;
}

.white_section h1 .box_text {
  padding: 12px 8px;
}

@media screen and (max-width: 767px) {
  .white_section h1 .box_text {
    padding: 8px;
  }
}

.white_section .belowtext_img {
  width: 350px;
  height: 50px;
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .white_section .belowtext_img {
    width: 200px;
  }
}

.white_section .lines_icon {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0;
  position: relative;
  top: -40px;
  right: 15px;
}

@media screen and (max-width: 850px) {
  .white_section .lines_icon {
    display: none;
  }
}

.white_section p {
  color: #5e5e5e;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  margin: 30px 0;
  font-weight: 600;
  line-height: 1.7;
}

@media screen and (max-width: 767px) {
  .white_section p {
    margin: 20px 0;
  }
}

.white_section .common_btn {
  display: block;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .white_section .common_btn {
    margin: 0 0 30px;
  }
}

.white_section .blocks_wrap {
  margin-top: 50px;
}

.white_section .blocks_wrap .col-md-4 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 992px) {
  .white_section .blocks_wrap .col-md-4 {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .white_section .blocks_wrap .col-md-4 {
    margin-bottom: 30px;
    width: 100%;
  }
}

.white_section .blocks_wrap .border_btm {
  position: relative;
  padding-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .white_section .blocks_wrap .border_btm {
    padding-bottom: 0;
  }
}

.white_section .blocks_wrap .border_btm::after {
  content: '';
  position: absolute;
  bottom: 27px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  height: 1px;
  border-radius: 50px;
  background-image: linear-gradient(91deg, #6D007D 0%, #EE1F4F 100%);
}

@media screen and (max-width: 767px) {
  .white_section .blocks_wrap .border_btm::after {
    display: none;
  }
}

.white_section .blocks_wrap .tab_view::after {
  display: none;
}

@media screen and (min-width: 767px) and (max-width: 992px) {
  .white_section .blocks_wrap .tab_view::after {
    display: block;
  }
}

.white_section .blocks_wrap .text_container {
  position: relative;
}

.white_section .blocks_wrap .icon_left {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 15px;
}

.white_section .blocks_wrap h2 {
  color: #302d43;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .white_section .blocks_wrap h2 {
    font-size: 20px !important;
  }
}

.white_section .blocks_wrap p {
  color: #302d43;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  margin: 10px 0 20px;
}

@media screen and (max-width: 767px) {
  .white_section .blocks_wrap p {
    margin: 5px 0;
  }
}

.white_section .blocks_wrap a {
  color: #e1003e;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 700;
  text-decoration: none;
  position: absolute;
  bottom: -15px;
  left: 0;
}

@media screen and (max-width: 767px) {
  .white_section .blocks_wrap a {
    position: unset;
    font-size: 14px;
  }
}

.white_section .blocks_wrap a:hover img {
  margin-left: 15px;
}

.white_section .blocks_wrap a img {
  width: 20px;
  height: 15px;
  margin-left: 5px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.entertain_wrap {
  background-image: url("../../images/home-assets/bg-4.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 120px 0 20px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .entertain_wrap {
    padding: 150px 0 20px;
    margin-top: 0;
  }
}

.entertain_wrap .common_btn {
  display: block;
  margin-left: 0;
}

.entertain_wrap h1 {
  max-width: 520px;
}

.entertain_wrap h1 span {
  display: initial;
}

.entertain_wrap h1 .box_text {
  display: inline-block;
}

.entertain_wrap h1 .black_text {
  color: #000;
  display: block;
  margin-top: -40px;
}

@media screen and (min-width: 767px) and (max-width: 992px) {
  .entertain_wrap h1 .black_text {
    margin: 0;
  }
}

.entertain_wrap h1 .belowtext_img {
  display: block;
  margin-left: auto;
  margin-top: -8px;
}

@media screen and (min-width: 767px) and (max-width: 992px) {
  .entertain_wrap h1 .belowtext_img {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .entertain_wrap h1 .belowtext_img {
    width: 150px;
  }
}

.entertain_wrap .big_img {
  max-width: 550px;
}

@media screen and (max-width: 767px) {
  .entertain_wrap .big_img {
    margin: 20px 0 0 0;
  }
}

@media screen and (max-width: 767px) {
  .testimonials_wrap {
    margin-top: 50px;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 767px) {
  .testimonials_wrap p {
    margin-bottom: 0;
  }
}

.testimonials_wrap h1 {
  width: 100%;
  max-width: 100%;
}

.testimonials_wrap .belowtext_img {
  margin-left: 100px;
  display: block;
  width: 220px;
}

@media screen and (max-width: 767px) {
  .testimonials_wrap .belowtext_img {
    margin-left: 0;
  }
}

.testimonials_wrap .swiper {
  padding: 40px 0;
}

.testimonials_wrap .whitebox_wrap {
  padding: 30px 50px 30px 30px;
  background-color: #fff;
  -webkit-box-shadow: 0px 20px 36px #0000001A;
          box-shadow: 0px 20px 36px #0000001A;
  border-radius: 15px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .testimonials_wrap .whitebox_wrap {
    padding: 20px;
  }
}

.testimonials_wrap .whitebox_wrap img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  display: block;
  margin-bottom: 15px;
}

.testimonials_wrap .whitebox_wrap h2 {
  color: #060640;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 700;
  line-height: 1.3;
}

@media screen and (max-width: 767px) {
  .testimonials_wrap .whitebox_wrap h2 {
    font-size: 18px;
  }
}

.testimonials_wrap .whitebox_wrap label {
  color: #060640;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 300;
  font-style: italic;
}

@media screen and (max-width: 767px) {
  .testimonials_wrap .whitebox_wrap label {
    font-size: 12px;
  }
}

.testimonials_wrap .whitebox_wrap p {
  color: #504E5D;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  margin: 10px 0 0 0;
  font-weight: 300;
}

@media screen and (max-width: 767px) {
  .testimonials_wrap .whitebox_wrap p {
    font-size: 14px !important;
  }
}

.btm_wrapper {
  background-image: url("../../images/home-assets/bg-5.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 220px 0 200px;
  position: relative;
  overflow: visible;
}

@media screen and (min-width: 1580px) {
  .btm_wrapper {
    padding-bottom: 350px;
  }
}

@media screen and (max-width: 767px) {
  .btm_wrapper {
    padding: 160px 0 100px;
    margin-top: -70px;
  }
}

.btm_wrapper:before {
  content: "";
  position: absolute;
  top: -100px;
  left: -140px;
  height: 100%;
  width: 350px;
  background-image: url("../../images/pr-assets/half-circle.png");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
  z-index: 0;
}

.btm_wrapper label {
  color: #6d007d;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  margin: 0 0 15px;
  font-weight: 600;
  letter-spacing: 1.28px;
}

.btm_wrapper .big_img {
  margin-bottom: 70px;
}

@media screen and (max-width: 767px) {
  .btm_wrapper .big_img {
    margin: 40px 0;
  }
}

.btm_wrapper h1,
.btm_wrapper h3 {
  font-size: 40px;
  letter-spacing: 1.68px;
  color: #2e2e2e;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin: 0;
  max-width: 500px;
}

.btm_wrapper h1 span,
.btm_wrapper h3 span {
  color: #e1003e;
}

.btm_wrapper h1 .box_text,
.btm_wrapper h3 .box_text {
  color: #ffffff;
  position: relative;
}

.btm_wrapper h1 .box_text::after,
.btm_wrapper h3 .box_text::after {
  content: '';
  position: absolute;
  right: -25px;
  top: -20px;
  width: 30px;
  height: 30px;
  background-image: url("../../images/lines-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media screen and (max-width: 767px) {
  .btm_wrapper h1 .box_text::after,
  .btm_wrapper h3 .box_text::after {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
    right: -35px;
  }
}

.btm_wrapper h1 .box_text,
.btm_wrapper h3 .box_text {
  padding: 12px 8px;
}

@media screen and (max-width: 767px) {
  .btm_wrapper h1 .box_text,
  .btm_wrapper h3 .box_text {
    padding: 8px;
    margin-top: 10px;
  }
}

.btm_wrapper .lines_icon {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0;
  position: absolute;
  top: 20px;
}

@media screen and (max-width: 767px) {
  .btm_wrapper .lines_icon {
    display: none;
  }
}

.btm_wrapper .big_img {
  max-width: 500px;
}

.btm_wrapper .belowtext_img {
  width: 220px;
  max-width: 100%;
  margin-top: -10px;
}

@media screen and (max-width: 767px) {
  .btm_wrapper .belowtext_img {
    width: 200px;
  }
}

.btm_wrapper p {
  color: #5e5e5e;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  margin: 30px 0;
  font-weight: 600;
  max-width: 550px;
  line-height: 1.7;
}

@media screen and (max-width: 767px) {
  .btm_wrapper p {
    margin: 20px 0;
  }
}

.btm_wrapper h3 {
  max-width: 850px;
  text-align: center;
  margin: 50px auto 0;
  position: relative;
}

@media screen and (max-width: 767px) {
  .btm_wrapper h3 {
    margin-top: 50px;
    font-size: 25px;
  }
}

.btm_wrapper h3 .box_text {
  color: #FDEC07;
}

.btm_wrapper h3 .box_text::after {
  display: none;
}

.btm_wrapper h3 .lines_icon {
  top: -35px;
  -webkit-transform: rotate(-75deg);
          transform: rotate(-75deg);
  left: -15px;
}

@media screen and (max-width: 767px) {
  .btm_wrapper h3 .lines_icon {
    top: -25px;
    left: 5px;
    display: block;
  }
}

.btm_wrapper .belowtext_img.below_img {
  width: 150px;
  margin: 10px auto;
  display: block;
}

.btm_wrapper .btn_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .btm_wrapper .btn_wrap {
    margin-top: 30px;
  }
}

.btm_wrapper .btn_wrap button {
  margin: 0 20px;
}

@media screen and (max-width: 767px) {
  .btm_wrapper .btn_wrap button {
    margin: 0 20px 20px;
  }
}

.btm_wrapper .btn_wrap button span {
  letter-spacing: 2px;
}

.btm_wrapper .btn_wrap .purple_bg {
  background: #6e0d88;
}

.btm_wrapper .topleft_dots {
  position: absolute;
  top: 0;
  left: 3%;
  width: 70px;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-transform: rotate(190deg);
  transform: rotate(190deg);
}

@media screen and (max-width: 767px) {
  .btm_wrapper .topleft_dots {
    display: none;
  }
}

.btm_wrapper .btmleft_icon {
  position: absolute;
  left: 100px;
  bottom: 120px;
  -webkit-transform: rotate(-100deg);
          transform: rotate(-100deg);
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 767px) {
  .btm_wrapper .btmleft_icon {
    left: 10px;
    bottom: 50px;
    width: 50px;
  }
}

.btm_wrapper .btmright_icon {
  position: absolute;
  right: 100px;
  bottom: 110px;
  -webkit-transform: rotate(85deg);
          transform: rotate(85deg);
  width: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 767px) {
  .btm_wrapper .btmright_icon {
    right: 20px;
    bottom: 50px;
    width: 40px;
  }
}

.btm_wrapper .btm_center_img {
  position: absolute;
  width: 500px;
  max-width: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -201px;
  z-index: 9;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 380px) {
  .btm_wrapper .btm_center_img {
    bottom: -90px;
  }
}

.btm_wrapper .btm_bg_img {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -200px;
  z-index: -9;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 850px) {
  .btm_wrapper .btm_bg_img {
    height: 240px;
  }
}

@media screen and (max-width: 380px) {
  .btm_wrapper .btm_bg_img {
    height: 100px;
    bottom: -90px;
  }
}

footer {
  margin-top: 205px;
}

@media screen and (max-width: 380px) {
  footer {
    margin-top: 90px;
  }
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 40px !important;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 30px !important;
  }
}

@media screen and (max-width: 767px) and (max-width: 767px) {
  h1 .box_text {
    padding: 6px 8px !important;
  }
}

@media screen and (max-width: 767px) {
  P {
    font-size: 16px !important;
  }
}
/*# sourceMappingURL=home.css.map */